table
    thead
        tr
            th Name
            th Description
            th Price
            th Type name
            th Is Vegetarian
    tbody
        each entree in entrees
            tr
                td= entree.name
                td= entree.description
                td= entree.price
                td= entree.EntreeType.name
                td= entree.EntreeType.isVegetarian
